* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  list-style: none;
  text-decoration: none; }

.side {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 38px;
  z-index: 9000; }
  .side .back-top {
    display: none;
    cursor: pointer;
    width: 38px;
    height: 38px;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 20px;
    background-color: #6ba652; }
    .side .back-top .icon-shouqi {
      line-height: 38px;
      font-size: 25px;
      color: white; }
    .side .back-top .pop-out {
      position: absolute;
      width: 68px;
      height: 38px;
      right: 100%;
      top: 0;
      background: #def0d6;
      transform: translateX(-15px);
      opacity: 0;
      visibility: hidden; }
      .side .back-top .pop-out .text {
        color: #6ba652;
        font-size: 12px;
        line-height: 38px;
        padding: 0 10px; }
      .side .back-top .pop-out .arrow {
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid #def0d6;
        box-sizing: border-box;
        width: 4px;
        height: 8px;
        position: absolute;
        left: 100%;
        top: 15px; }
    .side .back-top:hover .pop-out {
      transition: all 1s linear;
      opacity: 1;
      visibility: visible;
      transform: translateX(0px); }
  .side .service {
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 50%;
    width: 38px;
    height: 38px;
    text-align: center;
    margin-bottom: 41px;
    background-color: #6ba652; }
    .side .service .icon-buchongiconsvg02 {
      line-height: 38px;
      color: white;
      font-size: 25px; }
    .side .service .pop-out {
      position: absolute;
      width: 68px;
      height: 38px;
      right: 100%;
      top: 0;
      background: #def0d6;
      transform: translateX(-15px);
      opacity: 0;
      visibility: hidden; }
      .side .service .pop-out .text {
        color: #6ba652;
        font-size: 12px;
        line-height: 38px;
        padding: 0 10px; }
      .side .service .pop-out .arrow {
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid #def0d6;
        box-sizing: border-box;
        width: 4px;
        height: 8px;
        position: absolute;
        left: 100%;
        top: 15px; }
    .side .service:hover .pop-out {
      transition: all 1s linear;
      opacity: 1;
      visibility: visible;
      transform: translateX(0px); }
  .side .side-shop {
    cursor: pointer;
    text-align: center;
    position: absolute;
    background-color: #b3ce3e;
    right: 0;
    bottom: 50%;
    width: 38px;
    height: 38px; }
    .side .side-shop .icon-qicheqianlian- {
      font-size: 25px;
      line-height: 38px;
      color: white; }

.show {
  width: 100%; }
  .show .show_center {
    width: 1000px;
    height: 875px;
    margin: 0 auto;
    padding-top: 100px;
    margin-bottom: 60px; }
    .show .show_center .left-content {
      width: 517px;
      float: left; }
      .show .show_center .left-content .head1 {
        padding-bottom: 12px; }
        .show .show_center .left-content .head1 .title {
          color: #b3ce3e;
          letter-spacing: 4px;
          font-size: 36px;
          margin-right: 20px; }
        .show .show_center .left-content .head1 .title-desc {
          color: #b3ce3e;
          font-size: 18px; }
      .show .show_center .left-content .sku-slider {
        position: relative;
        margin-bottom: 32px; }
        .show .show_center .left-content .sku-slider ul .dest-li {
          cursor: pointer;
          width: 517px;
          height: 350px;
          display: none; }
          .show .show_center .left-content .sku-slider ul .dest-li:nth-of-type(1) {
            display: block; }
      .show .show_center .left-content .dest {
        position: relative;
        left: -8px; }
        .show .show_center .left-content .dest .dest-li-1 {
          cursor: pointer;
          float: left;
          width: 110px;
          height: 80px;
          padding: 4px;
          margin-left: 9px;
          border: 1px solid #ccc;
          box-sizing: border-box; }
          .show .show_center .left-content .dest .dest-li-1:nth-of-type(1) {
            border: 2px solid #fdb523; }
          .show .show_center .left-content .dest .dest-li-1 img {
            width: 100%;
            height: 100%; }
    .show .show_center .right-content {
      width: 467px;
      float: right; }
      .show .show_center .right-content .dest-desc {
        background-color: #f4f4f4; }
        .show .show_center .right-content .dest-desc .desc-titnam {
          padding-top: 36px;
          padding-bottom: 14px;
          overflow: hidden; }
          .show .show_center .right-content .dest-desc .desc-titnam .desc-name {
            float: left;
            font-size: 16px;
            color: #9e9e9f;
            width: 34px;
            line-height: 35px;
            letter-spacing: 1px;
            padding: 0 15px; }
          .show .show_center .right-content .dest-desc .desc-titnam .desc-title {
            float: left;
            font-size: 26px;
            color: #b3ce3e; }
        .show .show_center .right-content .dest-desc .dest-text {
          color: #9e9e9f;
          line-height: 26px;
          width: 380px;
          margin-left: 64px;
          padding-bottom: 25px; }
          .show .show_center .right-content .dest-desc .dest-text .fir-text {
            color: black;
            font-size: 16px; }
          .show .show_center .right-content .dest-desc .dest-text .sec-text, .show .show_center .right-content .dest-desc .dest-text .thr-text, .show .show_center .right-content .dest-desc .dest-text .fou-text {
            font-size: 16px;
            margin-top: 20px; }
        .show .show_center .right-content .dest-desc .desc-price {
          padding-bottom: 36px;
          overflow: hidden; }
          .show .show_center .right-content .dest-desc .desc-price .desc-name {
            float: left;
            font-size: 16px;
            color: #9e9e9f;
            width: 34px;
            line-height: 35px;
            letter-spacing: 1px;
            padding: 0 15px; }
          .show .show_center .right-content .dest-desc .desc-price .desc-pri {
            float: left; }
            .show .show_center .right-content .dest-desc .desc-price .desc-pri .rmb {
              color: #b3ce3e;
              font-size: 24px;
              padding-top: 4px; }
            .show .show_center .right-content .dest-desc .desc-price .desc-pri .pri-val {
              color: #b3ce3e;
              font-size: 28px;
              line-height: 28px; }
            .show .show_center .right-content .dest-desc .desc-price .desc-pri .pri-em {
              font-size: 20px;
              line-height: 28px;
              margin-left: 16px;
              padding-top: 2px;
              color: #aaa; }
            .show .show_center .right-content .dest-desc .desc-price .desc-pri .pri-tim {
              margin-left: 16px;
              font-size: 20px;
              line-height: 28px;
              padding-top: 2px;
              color: #aaa; }
        .show .show_center .right-content .dest-desc .desc-fba {
          overflow: hidden;
          margin-bottom: 40px; }
          .show .show_center .right-content .dest-desc .desc-fba .desc-name {
            float: left;
            font-size: 16px;
            color: #9e9e9f;
            width: 34px;
            line-height: 35px;
            letter-spacing: 1px;
            padding: 0 15px; }
          .show .show_center .right-content .dest-desc .desc-fba .fba-context {
            float: left;
            line-height: 35px;
            background-color: #b3ce3e;
            padding: 0 12px;
            position: relative;
            color: white;
            border-radius: 4px; }
            .show .show_center .right-content .dest-desc .desc-fba .fba-context:after {
              content: '';
              border-top: 5px solid transparent;
              border-bottom: 5px solid transparent;
              border-right: 6px solid #b3ce3e;
              display: blcok;
              width: 6px;
              height: 10px;
              box-sizing: border-box;
              position: absolute;
              left: -6px;
              top: 15px; }
        .show .show_center .right-content .dest-desc .desc-kind {
          height: 126px; }
          .show .show_center .right-content .dest-desc .desc-kind .desc-name {
            float: left;
            font-size: 16px;
            color: #9e9e9f;
            width: 34px;
            line-height: 35px;
            letter-spacing: 1px;
            padding: 0 15px;
            line-height: 82px; }
          .show .show_center .right-content .dest-desc .desc-kind .kind-context {
            float: left;
            width: 400px;
            padding-bottom: 27px; }
            .show .show_center .right-content .dest-desc .desc-kind .kind-context li {
              text-align: center;
              float: left;
              margin: 0 10px 10px 0;
              box-sizeing: border-box;
              width: 84px;
              height: 84px;
              position: relative; }
              .show .show_center .right-content .dest-desc .desc-kind .kind-context li:nth-of-type(1) {
                border: 1px solid #fdb523; }
              .show .show_center .right-content .dest-desc .desc-kind .kind-context li .title-name {
                line-height: 25px;
                z-index: 100;
                cursor: pointer;
                position: absolute;
                width: 130px;
                text-align: center;
                bottom: 100%;
                left: 50%;
                background-color: #b3ce3e;
                color: white;
                opacity: 0;
                transform: translateY(-10px); }
              .show .show_center .right-content .dest-desc .desc-kind .kind-context li:hover .title-name {
                transition: all 0.5s linear;
                transform: translateY(10px);
                opacity: 1; }
        .show .show_center .right-content .dest-desc .desc-peo {
          padding-bottom: 27px;
          overflow: hidden;
          margin-left: 64px;
          margin-bottom: 25px; }
          .show .show_center .right-content .dest-desc .desc-peo span {
            float: left;
            font-size: 14px;
            cursor: pointer;
            margin-right: 10px;
            padding: 4px 10px;
            border: 1px solid #ccc;
            color: #ccc; }
          .show .show_center .right-content .dest-desc .desc-peo .peo-man {
            color: #fdb523;
            border: 2px solid #fdb523;
            padding: 3px 9px; }
        .show .show_center .right-content .dest-desc .desc-num {
          overflow: hidden;
          padding-bottom: 30px;
          margin-top: -11px; }
          .show .show_center .right-content .dest-desc .desc-num .desc-name {
            float: left;
            font-size: 16px;
            color: #9e9e9f;
            width: 34px;
            line-height: 35px;
            letter-spacing: 1px;
            padding: 0 15px; }
          .show .show_center .right-content .dest-desc .desc-num .num-chan {
            overflow: hidden;
            float: left;
            width: 300px; }
            .show .show_center .right-content .dest-desc .desc-num .num-chan div {
              cursor: pointer;
              float: left;
              width: 28px;
              height: 35px;
              background: #fbd523;
              font-size: 30px;
              text-align: center;
              color: white;
              line-height: 30px; }
            .show .show_center .right-content .dest-desc .desc-num .num-chan input {
              float: left;
              width: 45px;
              height: 35px;
              font-size: 25px;
              line-height: 35px;
              text-align: center; }
      .show .show_center .right-content .shop-btn {
        margin-top: 20px; }
        .show .show_center .right-content .shop-btn .left-btn {
          display: inline-block;
          width: 272px;
          height: 44px;
          box-sizing: border-box;
          padding: 2px 48px;
          font-size: 22px;
          line-height: 40px;
          color: white;
          border-radius: 4px;
          background-color: #fdb523;
          box-shadow: 0 2px #eb9e02;
          cursor: pointer; }
          .show .show_center .right-content .shop-btn .left-btn .icon-jiahao {
            font-size: 22px; }
          .show .show_center .right-content .shop-btn .left-btn .shopping {
            cursor: pointer;
            font-size: 22px;
            margin-left: 10px; }
        .show .show_center .right-content .shop-btn .right-btn {
          display: inline-block;
          width: 180px;
          height: 44px;
          box-sizing: border-box;
          padding: 11px 32px;
          color: white;
          line-height: 22px;
          font-size: 22px;
          border-radius: 4px;
          cursor: pointer;
          background-color: #d7d7d7;
          box-shadow: 0 2px #bebebe; }
          .show .show_center .right-content .shop-btn .right-btn .icon-qicheqianlian- {
            font-size: 22px; }
          .show .show_center .right-content .shop-btn .right-btn .pay {
            font-size: 22px;
            margin-left: 5px; }

.mid {
  width: 100%;
  position: relative;
  height: 62px; }
  .mid .mid-line {
    z-index: 100;
    position: absolute;
    background-color: white;
    left: 102px;
    top: 0px;
    border-top: 1px solid #ccc;
    width: 1000px;
    box-sizing: border-box; }
    .mid .mid-line #line {
      overflow: hidden;
      width: 800px;
      float: left; }
      .mid .mid-line #line li {
        float: left;
        line-height: 62px;
        width: 200px;
        font-size: 22px;
        color: #b7b7b7;
        cursor: pointer; }
        .mid .mid-line #line li a {
          font-size: 22px;
          color: #b7b7b7; }
        .mid .mid-line #line li:nth-of-type(1) {
          color: #b3ce3e; }
    .mid .mid-line .add-shop {
      position: relative;
      cursor: pointer;
      width: 200px;
      float: right;
      height: 62px;
      color: white;
      background-color: #b3ce3e;
      display: none; }
      .mid .mid-line .add-shop .icon-jiahao {
        float: left;
        font-size: 40px; }
      .mid .mid-line .add-shop .shopping {
        float: left;
        height: 62px;
        margin-left: 15px;
        margin-top: 10px;
        font-size: 22px; }
      .mid .mid-line .add-shop .shop-title {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 368px;
        background: #f4f4f4; }
        .mid .mid-line .add-shop .shop-title .shop-name {
          width: 100%;
          overflow: hidden;
          margin-top: 24px; }
          .mid .mid-line .add-shop .shop-title .shop-name .shop-desc {
            float: left;
            font-size: 24px;
            color: #b3ce3e;
            line-height: 26px; }
          .mid .mid-line .add-shop .shop-title .shop-name .shop-fon {
            line-height: 26px;
            color: #9e9e9f;
            float: left;
            font-size: 13px;
            width: 28px;
            letter-spacing: 1px;
            padding: 0 13px; }
        .mid .mid-line .add-shop .shop-title .shop-prices {
          width: 100%;
          overflow: hidden;
          padding-top: 15px;
          padding-bottom: 25px; }
          .mid .mid-line .add-shop .shop-title .shop-prices .price-fon {
            line-height: 35px;
            color: #9e9e9f;
            float: left;
            font-size: 13px;
            width: 28px;
            letter-spacing: 1px;
            padding: 0 13px; }
          .mid .mid-line .add-shop .shop-title .shop-prices .price {
            float: left;
            font-style: normal;
            font-size: 24px;
            color: #b3ce3e; }
            .mid .mid-line .add-shop .shop-title .shop-prices .price i {
              font-size: 24px;
              line-height: 35px; }
        .mid .mid-line .add-shop .shop-title .shop-kind .kind-fon {
          color: #9e9e9f;
          float: left;
          font-size: 13px;
          width: 28px;
          letter-spacing: 1px;
          padding: 0 13px;
          line-height: 68px; }
        .mid .mid-line .add-shop .shop-title .shop-kind .kind {
          float: left; }
          .mid .mid-line .add-shop .shop-title .shop-kind .kind .kind-li {
            margin: 0 8px 8px 0;
            box-sizing: border-box;
            width: 68px;
            height: 68px;
            float: left;
            border: 1px solid #ccc; }
            .mid .mid-line .add-shop .shop-title .shop-kind .kind .kind-li img {
              width: 100%;
              height: 100%; }
        .mid .mid-line .add-shop .shop-title .desc-peo {
          width: 100%;
          overflow: hidden;
          margin-left: 64px;
          margin-bottom: 25px; }
          .mid .mid-line .add-shop .shop-title .desc-peo span {
            float: left;
            font-size: 14px;
            cursor: pointer;
            margin-right: 10px;
            padding: 4px 10px;
            border: 1px solid #ccc;
            color: #ccc; }
          .mid .mid-line .add-shop .shop-title .desc-peo .peo-man {
            color: #fdb523;
            border: 2px solid #fdb523;
            padding: 3px 9px; }
        .mid .mid-line .add-shop .shop-title .desc-num {
          width: 100%;
          overflow: hidden;
          padding-bottom: 30px; }
          .mid .mid-line .add-shop .shop-title .desc-num .desc-name {
            float: left;
            font-size: 16px;
            color: #9e9e9f;
            width: 34px;
            line-height: 35px;
            letter-spacing: 1px;
            padding: 0 15px; }
          .mid .mid-line .add-shop .shop-title .desc-num .num-chan {
            overflow: hidden;
            float: left;
            width: 300px; }
            .mid .mid-line .add-shop .shop-title .desc-num .num-chan div {
              cursor: pointer;
              float: left;
              width: 28px;
              height: 35px;
              background: #fbd523;
              font-size: 30px;
              text-align: center;
              color: white;
              line-height: 30px; }
            .mid .mid-line .add-shop .shop-title .desc-num .num-chan input {
              float: left;
              width: 45px;
              height: 35px;
              font-size: 25px;
              line-height: 35px;
              text-align: center; }
        .mid .mid-line .add-shop .shop-title .dialog-button {
          padding: 18px 48px 20px 54px;
          background-color: #ededed;
          overflow: hidden; }
          .mid .mid-line .add-shop .shop-title .dialog-button .shopp {
            background-color: #f89a29;
            color: white;
            float: left;
            width: 112px;
            height: 36px;
            border: 1px solid #f89a29;
            line-height: 36px;
            font-size: 18px;
            text-align: center;
            letter-spacing: 2px;
            border-radius: 4px;
            cursor: pointer; }
          .mid .mid-line .add-shop .shop-title .dialog-button .cancle {
            margin-left: 20px;
            color: #f89a29;
            float: left;
            width: 112px;
            height: 36px;
            border: 1px solid #f89a29;
            line-height: 36px;
            font-size: 18px;
            text-align: center;
            letter-spacing: 2px;
            border-radius: 4px;
            cursor: pointer; }

.content-1 {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden; }
  .content-1 img {
    display: block; }
  .content-1 .qa {
    width: 1000px;
    overflow: hidden;
    background-color: #6ba652;
    color: white;
    padding: 60px 0 65px; }
    .content-1 .qa h1 {
      text-align: center;
      font-size: 56px;
      margin-bottom: 40px; }
      .content-1 .qa h1 span {
        margin: 0 11px;
        font-size: 48px; }
    .content-1 .qa ol {
      padding: 0 140px 0 170px;
      color: red;
      list-style: inside disc;
      font-size: 28px; }
      .content-1 .qa ol li {
        margin-bottom: 40px; }
        .content-1 .qa ol li .question {
          font-size: 32px;
          line-height: 56px; }
        .content-1 .qa ol li .answer {
          font-size: 24px;
          line-height: 36px;
          color: #f0ffd5; }

.content-2 {
  width: 1000px;
  margin: 0 auto;
  display: none; }
  .content-2 .section-title {
    width: 100%;
    background-color: #fafafa; }
    .content-2 .section-title .name {
      font-size: 30px;
      text-align: center;
      padding-top: 30px;
      color: #787878; }
    .content-2 .section-title .title {
      color: #787878;
      font-size: 34px;
      text-align: center;
      padding-top: 20px;
      padding-left: 40px; }
      .content-2 .section-title .title span {
        font-size: 34px; }
      .content-2 .section-title .title img {
        vertival-align: middle;
        margin-left: 18px;
        color: #f7961d; }
    .content-2 .section-title .day-cal {
      color: #b7b7b7;
      font-size: 28px;
      line-height: 56px;
      padding-bottom: 4px;
      text-align: center; }
  .content-2 .section-content {
    width: 100%;
    overflow: hidden;
    padding: 15px; }
    .content-2 .section-content .sec-left {
      float: left;
      margin-top: 40px;
      width: 40%;
      background: white;
      box-sizing: border-box;
      border-right: 1px solid #ccc; }
      .content-2 .section-content .sec-left li {
        width: 100%;
        padding: 24px 0 24px 48px; }
        .content-2 .section-content .sec-left li .meal {
          font-size: 24px;
          text-align: left;
          color: #787878; }
        .content-2 .section-content .sec-left li .meal-con {
          font-size: 22px;
          text-align: left;
          color: #b7b7b7;
          padding: 4px 4px 0;
          line-height: 36px; }
    .content-2 .section-content .sec-right {
      margin-top: 20px;
      float: left;
      width: 60%;
      box-sizing: border-box;
      background: white;
      padding-left: 19px; }
      .content-2 .section-content .sec-right .heat {
        width: 14%;
        font-size: 28px;
        text-align: center;
        color: #f7961d; }
      .content-2 .section-content .sec-right tr {
        text-align: center; }
        .content-2 .section-content .sec-right tr .number {
          display: inline-block;
          width: 72px;
          height: 72px;
          line-height: 72px;
          font-size: 32px;
          text-align: center;
          margin: 20px 0;
          border-radius: 36px; }
        .content-2 .section-content .sec-right tr .color-1 {
          background-color: #f47820; }
        .content-2 .section-content .sec-right tr .color-2 {
          background-color: #f7961d; }
        .content-2 .section-content .sec-right tr .color-3 {
          background-color: #fdbd2c; }
        .content-2 .section-content .sec-right tr .color-4 {
          background-color: #fece06; }

.content-3 {
  width: 1000px;
  margin: 0 auto;
  display: none; }
  .content-3 .section-title {
    width: 100%;
    background-color: #fafafa; }
    .content-3 .section-title .name {
      font-size: 30px;
      text-align: center;
      padding-top: 30px;
      color: #787878; }
    .content-3 .section-title .title {
      color: #787878;
      font-size: 34px;
      text-align: center;
      padding-top: 20px;
      padding-left: 40px; }
      .content-3 .section-title .title span {
        font-size: 34px; }
      .content-3 .section-title .title img {
        vertival-align: middle;
        margin-left: 18px;
        color: #f7961d; }
    .content-3 .section-title .day-cal {
      color: #b7b7b7;
      font-size: 28px;
      line-height: 56px;
      padding-bottom: 4px;
      text-align: center; }
  .content-3 .section-content {
    width: 100%;
    overflow: hidden;
    padding: 15px; }
    .content-3 .section-content .sec-left {
      float: left;
      margin-top: 40px;
      width: 40%;
      background: white;
      box-sizing: border-box;
      border-right: 1px solid #ccc; }
      .content-3 .section-content .sec-left li {
        width: 100%;
        padding: 24px 0 24px 48px; }
        .content-3 .section-content .sec-left li .meal {
          font-size: 24px;
          text-align: left;
          color: #787878; }
        .content-3 .section-content .sec-left li .meal-con {
          font-size: 22px;
          text-align: left;
          color: #b7b7b7;
          padding: 4px 4px 0;
          line-height: 36px; }
    .content-3 .section-content .sec-right {
      margin-top: 20px;
      float: left;
      width: 60%;
      box-sizing: border-box;
      background: white;
      padding-left: 19px; }
      .content-3 .section-content .sec-right .heat {
        width: 14%;
        font-size: 28px;
        text-align: center;
        color: #f7961d; }
      .content-3 .section-content .sec-right tr {
        text-align: center; }
        .content-3 .section-content .sec-right tr .number {
          display: inline-block;
          width: 72px;
          height: 72px;
          line-height: 72px;
          font-size: 32px;
          text-align: center;
          margin: 20px 0;
          border-radius: 36px; }
        .content-3 .section-content .sec-right tr .color-1 {
          background-color: #f47820; }
        .content-3 .section-content .sec-right tr .color-2 {
          background-color: #f7961d; }
        .content-3 .section-content .sec-right tr .color-3 {
          background-color: #fdbd2c; }
        .content-3 .section-content .sec-right tr .color-4 {
          background-color: #fece06; }
